.full-width-btn {
  display: block;
  width: 100%;
  line-height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  background-color: #ad1818;
  color: white;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}
.full-width-btn-extension {
  color: #ad1818;
  background-color: transparent;
}
.full-width-btn:hover {
  background: #AD1818;
  color: #FFFFFF;
  transition: 1.5s;
}
.full-width-btn-reverse:hover {
  background: white;
  color: #AD1818;
  transition: 1.5s;
}
.medium-width-btn {
  width: 100%;
  height: 67px;
  background: #AD1818;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.small-width-btn {
  width: 255px;
  font-size: 20px;
  line-height: 67px;
}
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
  .full-width-btn {
    font-size: 22px;
    line-height: 100px;
  }
  .small-width-btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }
}