.footer__section {
  height: 229px;
  background: #121212;
}
.footer__lists {
  display: flex;
  margin: 0 auto;
  margin-bottom: 87px;
  padding-top: 60px;
  width: 450px;
  justify-content: space-between;
}
.footer__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
.footer__link:hover {
  opacity: 0.5;
}
.footer__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .footer__section {
    height: 131px;
  }
  .footer__lists {
    margin-bottom: 41px;
    padding-top: 30px;
    width: 281px;
  }
  .footer__link {
    font-size: 12px;
    line-height: 16px;
  }
  .footer__text {
    font-size: 13px;
    line-height: 18px;
  }
}