 .gallery__section {
  margin-bottom: 150px;
}
.gallery__inner {
  position: relative;
}
.gallery__container {
  width: 1150px;
  margin: 0 auto;
}
.gallery__title-wrapper {
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 1;
}
.gallery__title {
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}
.gallery__image {
  position: relative;
  width: 100%;
  height: 717px;
}
.gallery__slides {
  position: relative;
  height: 717px;
}
.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.gallery__slide_active {
  opacity: 1;
}
.gallery__description-wrapper {
  position: absolute;
  width: 100%;
  bottom: 60px;
}
.gallery__description {
  width: 443px;
  height: 82px;
  font-size: 30px;
  line-height: 41px;
  color: #FFFFFF;
}
.gallery__controller {
  position: absolute;
  left: auto;
  display: flex;
  gap: 14px;
  bottom: 162px;
  z-index: 1; 
}
.gallery__control-prev,
.gallery__control-next {
  border: none;
  background: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.gallery__control-prev {
  background-image: url(../img/slider-gallery-img.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.gallery__control-next {
  background-image: url(../img/slider-gallery-img.png);
  background-repeat: no-repeat;
  transform: rotate(180deg);
  background-size: contain;
}
.gallery__controller .gallery__control-prev:hover {
  opacity: 0.5;
}
.gallery__controller .gallery__control-next:hover {
  opacity: 0.5;
}
@media (max-width: 1199px) {
  .gallery__section {
    margin-bottom: 120px;
  }
  .gallery__container {
    width: 100%;
  }
  .gallery__image {
    height: 536px;
  }
  .gallery__title-wrapper {
    top: 80px;
    padding-left: 15px;
    max-width: 183px;
  }
  .gallery__title {
    font-size: 20px;
    line-height: 27px;
  }
  .gallery__slides {
    height: 536px;
  }
  .gallery__controller-wrapper {
    position: absolute;
    padding-left: 6px;
  }
  .gallery__description-wrapper {
    top: 388px;
    padding-left: 15px;
    max-width: 377px;
  }
  .gallery__description {
    width: 377px;
    height: 68px;
    font-size: 25px;
    line-height: 34px;
  }
}
@media (max-width: 767px) {
  .gallery__section {
    margin-bottom: 80px;
  }
  .gallery__container {
    min-width: 100%;
  }
  .gallery__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery__title-wrapper {
    top: 61px;
    padding-left: 13px;
  }
  .gallery__title {
    font-size: 14px;
    line-height: 19px;
  }
  .gallery__slides {
    height: 408px;
  }
  .gallery__controller-wrapper {
    position: initial;
    padding-left: 0;
  }
  .gallery__controller {
    width: 100%;
    bottom: 204px;
    justify-content: space-between;
    gap: 0;
  }
  .gallery__control-prev,
  .gallery__control-next {
    width: 30px;
    height: 30px;
    margin-left: 10.5px;
    margin-right: 10.5px;
  }
  .gallery__description-wrapper {
    width: auto;
    top: 296px;
    padding-left: 13px;
  }
  .gallery__description {
    width: 287px;
    height: 52px;
    font-size: 19.0086px;
    line-height: 26px;
  }
}
