.header__inner{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-bottom: 73.76px;
  padding-top: 32.82px;
}
.header__nav {
  margin-bottom: 70px;
  padding-top: 30px;
  display: flex;
  gap: 60px;
}
.nav__link {
  display: block;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #121212;
}
.nav__link:hover::after {
  content: "";
  display: block;
  padding-bottom: 0.5px;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
