/*styles for index.html start*/
@import "../styles/header.css";
@import "../styles/intro.css";
@import "../styles/about-us.css";
@import "../styles/projects.css";
@import "../styles/services.css";
@import "../styles/popup.css";
@import "../styles/input.css";
@import "../styles/order.css";
@import "../styles/reviews.css";
@import "../styles/gallery.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";
@import "../styles/maintenance.css";
@import "../styles/buttons.css";


html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  max-width: 100%;
  font-family: 'Manrope', courier, monospace;
  background: #ffffff;
  font-style: normal;
  font-weight: 400;
}
h1,
h2,
h3,
p,
a,
.nav__link,
button {
  letter-spacing: -0.03em;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 1150px;
}
.button__margin {
  margin-bottom: 150px;
}
@media (max-width: 1199px) {
  .container {
    margin-bottom: 120px;
    padding: 0 15px;
  }
  .button__margin {
    margin-bottom: 120px;
  }
}
@media (max-width: 767px) {
  .container {
    margin-bottom: 80px;
    padding: 0 13px;
  }
  .button__margin {
    margin-bottom: 80px;
  }
}
.title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #121212;
}
@media (max-width: 767px) {
  .title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px
  }
}
.whitespace__section {
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .whitespace__section {
    padding: 0 13px;
  }
}
.service__list-title {
  color: #FFFFFF;
}

