/*styles for index.html start*/
html {
  scroll-behavior: smooth;
}
.container1 {
  font-family: 'Manrope', sans-serif;
  background: #FFFFFF;
  margin: 0 auto;
  box-sizing: border-box;
  width: 1150px;
}
.imgmetrika {
  width: 127px;
  height: 22px;
  margin-top: 33px;
}
.navbar {
  margin-bottom: 100px;
}
.navbar-menu ul {
  list-style-type: none;
  margin-top: 33px;
  margin-bottom: 68px;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
}
ul a {
  color: #121212;
  font-size: 14px;
  text-decoration: none;

}
ul .nav-about-us {
  opacity: 0.5;
  text-decoration: underline;
}
.nav li {
  float: right;
  margin: 33px;
}
h1 {
  font-size: 55px;
  font-weight: 400;
  line-height: 60px;
  margin-right: 200px;
  margin-bottom: 30px;
}

.rectangle-text {
  background-image: url(../img/Rectangle\ 1.jpg);
  width: 1150px;
  height: 500px;

  background-repeat: no-repeat;
  background-size: contain;

  margin-bottom: 150px;

}
.rectangle-text p {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;

  
  font-family:'Manrope', sans-serif;

  padding: 379px 650px 40px 40px; 
}
.about-us h2 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #121212;

  margin-bottom: 30px;
}
.about-us p {
  font-size: 45px;
  font-weight: 400;
  line-height: 61.47px;

  margin-bottom: 30px;
}
.btn button {
 display: block;

 width: 255px;
 height: 67px;

 text-align: center;

 font-size: 20px;
 font-weight: 400;

 background-color:#AD1818;
 color: #FFFFFF;

 border: none;
 border-radius: 5px;

 text-align: center;
 line-height: 67px;

 margin-bottom: 170px;

 cursor: pointer;
}
.btn a {
  text-decoration: none;
}
.project-link a {
  font-size: 20px;
  font-weight: 400;

  color: #AD1818;

  text-decoration: none;
}
.project-link {
  margin-bottom: 90px;
}
.project-1-header h2 {
  font-size: 18px;
  font-weight: 400;
  
  text-transform: uppercase;

  margin-bottom: 30px;
}
.project-1-img img {
  margin-bottom: 15px;
}
.project-1-text p {
  font-size: 30px;
  font-weight: 400;

  text-transform: uppercase;

  margin-bottom: 15px;
}
.project-2-img img {
  margin-bottom: 15px;
}
.project-2-text p {
  font-size: 30px;
  font-weight: 400;

  text-transform: uppercase;

  margin-bottom: 15px;
}
.project-3-img img {
  margin-bottom: 15px;
}
.project-3-text p {
  font-size: 30px;
  font-weight: 400;

  text-transform: uppercase;

  margin-bottom: 15px;
}
.btn2 button {
  display: block;
  margin-bottom: 150px;

  width: 1150px;
  height: 153px;

  font-size: 40px;
  font-weight: 400;
  text-align: center;

  color: #AD1818;
  background-color: transparent;

  border: 1px solid #AD1818;
  border-radius: 5px;

  cursor: pointer;
}
.btn2 a {
  text-decoration: none;
}
.btn2 button:hover{
  color: #FFFFFF;
  background-color: #AD1818;
}
.container2 {
  font-family: 'Manrope', sans-serif;
  background-color: #121212;
}
.service-heading h2 {
  color: #FFFFFF;

  font-size: 18px;
  font-weight: 400;

  text-transform: uppercase;
  padding-top: 151px;

  margin: 0 auto;
  box-sizing: border-box;
  width: 1150px;

  margin-bottom: 34px;
}
#service-1-img {
  margin-left: 185px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.service-1-text p {
  color: #FFFFFF;

  font-size: 30px;
  font-weight: 400;

  margin: 0 auto;
  box-sizing: border-box;
  width: 1150px;

  margin-bottom: 60px;
}
#service-2-img {
  margin-left: 185px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.service-2-text p {
  color: #FFFFFF;

  font-size: 30px;
  font-weight: 400;

  margin: 0 auto;
  box-sizing: border-box;
  width: 1150px;

  margin-bottom: 60px;
}
#service-3-img {
  margin-left: 185px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.service-3-text p {
  color: #FFFFFF;

  font-size: 30px;
  font-weight: 400;

  margin: 0 auto;
  box-sizing: border-box;
  width: 1150px;

  margin-bottom: 60px;
}
#service-4-img {
  margin-left: 185px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.service-4-text p {
  color: #FFFFFF;

  font-size: 30px;
  font-weight: 400;

  margin: 0 auto;
  box-sizing: border-box;
  width: 1150px;

  padding-bottom: 150px;
}
.img-text {
  color: #FFFFFF;

  background-image: url(img/Rectangle\ 10.png);
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 717px;

  margin-bottom: 150px;
}
.img-text p{
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;

  
  font-family:'Manrope', sans-serif;

  padding: 600px 870px 60px 185px; 
}
.container3 {
  margin-bottom: 350px;
}
.img-our-contacts{
  width: 13px;
  height: 22px;

  margin: 0 auto;
  box-sizing: border-box;
  width: 1150px;
}
.img-our-contacts img {
  margin-bottom: 13px;
}
.text-our-contacts {
  font-size: 18px;
  font-weight: 400;

  font-family:'Manrope', sans-serif;

  text-transform: uppercase;
}
.text-our-contacts p{
  margin-bottom: 32px;
}
.telnumber-our-contacts {
  font-size: 60px;
  font-weight: 400;

  line-height: 60px;

  font-family:'Manrope', sans-serif;
}
.telnumber-our-contacts p{
  margin-bottom: 30px;
}
.email-our-contacts {
  font-size: 60px;
  font-weight: 400;

  line-height: 60px;

  font-family:'Manrope', sans-serif;


}
.email-our-contacts p {
  opacity: 0.5;

  text-decoration: underline;
}
.container4 {
  font-family: 'Manrope', sans-serif;
  background-color: #121212;
}
.footer-lists a{
  color: #FFFFFF;
}
.footer-lists li{
  font-size: 18px;
  font-weight: 400;

  line-height: 25px;

  text-transform: uppercase;

  display: inline;

  text-align: center;

  float: none;

  padding: 53px;
}
.footer-lists ul {
  padding-top: 60px;
  margin-left: 27%;
  margin-bottom: 87px;
}
.footer-about-us {
  opacity: 0.5;
}
.footer-text {
  font-size: 20px;
  font-weight: 400;

  line-height: 27px;

  color: #FFFFFF;
  opacity: 0.5;

  text-align: center;

  padding-bottom: 30px;
}
/*styles for index.html finish*/

/*styles for maintenance.html start*/
.maintenance-header h1 {
  text-align: center;

  margin: 0 auto;
  margin-bottom: 60px;

  padding-top: 70px;
}
.maintenance-text p{
  font-size: 25px;
  font-weight: 400;

  text-align: center;

  margin-bottom: 60px;
}
.maintenance-img img{
  width: 500px;

  margin-left: 25%;

  text-align: center;
}
#maintenance-btn button{
  color: #121212;

  border: 1px solid black;

  margin-top: 60px;

  cursor: pointer;
}
#maintenance-btn button:hover{
  color: #FFFFFF;
  background-color: #121212;
}
.footer-maintenance {
  font-size: 20px;
  font-weight: 400;

  text-align: center;
}
/*styles for maintenance.html finish*/
